<footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-start">Copyright &copy; Reserv-eat 2022</div>
              <div class="col-lg-4 my-3 my-lg-0">
              <%= link_to "https://twitter.com/TheRock" do %>
                    <button class= "btn btn-dark btn-social mx-2" aria-label="Twitter"> <i class="fab fa-twitter"></i> </button>
                <% end%>
                <%= link_to "https://www.youtube.com/watch?v=vr79HA2V27M&ab_channel=DJJoseB" do %>
                    <button class= "btn btn-dark btn-social mx-2" aria-label="Youtube"> <i class="fab fa-youtube"></i> </button>
                <% end%>
                <%= link_to "https://www.linkedin.com/in/dwayne-johnson-05637a103" do %>
                    <button class= "btn btn-dark btn-social mx-2" aria-label="LinkedIn"> <i class="fab fa-linkedin-in"></i> </button>
                <% end%>
                  
              </div>
              <div class="col-lg-4 text-lg-end">
                  <%= link_to "Política de privacidad", "https://www.privacypolicygenerator.info/live.php?token=t07uQ8UZpJjmvtThj05p2LmFS5WVzS2q", class:"link-footer" %>
                  <%= link_to "Términos de uso", 'welcome/termsofuse', class:"link-footer" %>
              </div>
          </div>
      </div>
  </footer>