<br><br><br><br><br>
<% if current_user.moderator? %>
  <h1 align= 'center'>¡Mira las reservas hechas en tus restaurantes!</h1>
<% else %>
<h1 align= 'center'>¡Mira las reservas que has hecho!</h1>
<% end %>
<br>
<table class="table table-striped table-hover w-50", align="center">
  <thead class="thead-dark">
    <tr>
        <th>Nombre</th>
        <th>Restaurante</th>
        <th>Capacidad</th>
        <th>Ubicación</th>
        <th>Área fumadores</th>
        <th>Estado</th>
        <th></th>
        <th></th>
    </tr>
    <% @reservations.each do |reservation| %>
        <tr>
        <% @creador_restaurante = User.find(reservation.restaurant.user_id) %>
            <% if current_user.moderator? && current_user.id == @creador_restaurante.id %>
                <td><%= reservation.nombre_usuario%></td>
                <td><%= reservation.restaurant.name%></td>
                <td><%= reservation.people%></td>
                <td><%= reservation.ubicacion%></td>
                <% if reservation.fumador %>
                  <td> Si </td>
                <% else %>
                  <td>No</td>
                <% end %>

                <td><%= reservation.status.capitalize%></td>
                <td><%= link_to 'Detalles', reservation_path(reservation), class:"btn btn-info btn-sm" %></td>
                <td><%= link_to 'Eliminar', reservation_path(reservation), class:"btn btn-danger btn-sm", method: :delete,
                data: { confirm: '¿Estás seguro?' } %></td>

            <% elsif current_user.id == reservation.user_id %>
                <td><%= reservation.nombre_usuario%></td>
                <td><%= reservation.restaurant.name%></td>
                <td><%= reservation.people%></td>
                <td><%= reservation.ubicacion%></td>
                <% if reservation.fumador %>
                  <td> Si </td>
                <% else %>
                  <td>No</td>
                <% end %>
                <td><%= reservation.status.capitalize%></td>
                <td><%= link_to 'Detalles', reservation_path(reservation), class:"btn btn-info btn-sm" %></td>
                <td><%= link_to 'Eliminar', reservation_path(reservation), class:"btn btn-danger btn-sm", method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
</table>
<% if !Reservation.any? %>
  <div align="center">
  <h4>No hay ninguna reserva creada aún.</h4>
  </div>
<% end %>
<h4 align= 'center'><%= link_to 'Volver', root_path, class:"btn btn-dark btn-sm" %></h4>
<br><br><br><br><br><br><br>