<br><br><br><br>

<br><br>
<%= form_with model: [@restaurant, Review.new] do |form| %>
<div class="container", align="center">
    <h1>Nueva reseña</h1> <br>
    <div class="field form-group">
        <%= form.text_field :'title', autofocus: true, class:"form-control w-25", autocomplete: "título", placeholder: "Título" %>
    </div>
    <div class="field form-group">
        <%= form.text_field :body, class:"form-control w-25", autocomplete: "email", placeholder: "Comentario" %>
    </div>
    <div class="field form-group">
        <%= form.label :Rating %>
        <%= form.select(:rating, [1,2,3,4,5]) %>
    </div>
    <div class="field form-group">
        <%= form.submit "Create Review", class:"btn btn-success"%>
    </div>
    <%= link_to 'Back', restaurants_path(anchor: 'portfolio'), class:"btn btn-dark" %>
<% end %>
<br>
</div>
<br><br><br><br><br><br>